.b0 {
    font-size: 100px;
    width: 125px;
    border-radius: px;
}

.b1 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b2 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b3 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b4 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b5 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b6 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b7 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b8 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.b9 {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.add {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.sub {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.div {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.multi {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.empty {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}

.clear {
    font-size: 100px;
    width: 125px;
    border-radius: 5px;
}